* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    margin-left: 1.5vh;
}

.start-screen {
    visibility: visible;
    position: absolute;
    z-index: 1000;
    left: 51vh;
    top: 20vh;
    background-color:  rgba(0, 0, 0, .5);
    padding: 5vh 17vh 3vh 17vh;
    border-radius: 10px;
    color: white;
    text-align: center;
}

.start-screen p {
    padding-bottom: 2vh;
}

.commands span {
    color: red;
}

.scores {
    position: fixed;
    top: 7vh;
    left: 5vh;
    padding: 2vh;
    border-radius: 10px;
    visibility: hidden;
    background-color:  rgba(0, 0, 0, .5);
    color: white;
}

.scores li {
    list-style: none;
    text-align: left;
}

h1 {
    position: absolute;
    top: 10vh;
    left: 67vh;
    font-size: 3em;
    visibility: visible;
}

.timer {
    padding: 1vh;
    border-radius: 10px;
    position: fixed;
    top: 11vh;
    left: 160vh;
    visibility: hidden;
    background-color:  rgba(0, 0, 0, .5);
    color: white;
}

/* .end-screen {
    visibility: hidden;
    position: absolute;
    z-index: 1000;
    left: 15%;
    top: 20%;
    background-color:  rgba(0, 0, 0, .5);
    padding: 10vh 10vh;
    border-radius: 10px;
    color: white;
    text-align: center;
    font-size: 3.5vh;
} */

.end-message {
    visibility: hidden;
    position: absolute;
    z-index: 1000;
    left: 63vh;
    top: 22vh;
    background-color:  rgba(0, 0, 0, .5);
    padding: 3vh 3vh;
    border-radius: 10px;
    color: white;
    text-align: center;
    text-transform: uppercase;
}

.end-mate {
    visibility: hidden;
    position: absolute;
    z-index: 1000;
    left: 63vh;
    top: 33vh;
    background-color:  rgba(0, 0, 0, .5);
    padding: 3vh 10.5vh;
    border-radius: 10px;
    color: white;
    text-align: center;
    text-transform: uppercase;
}

.end-food {
    visibility: hidden;
    position: absolute;
    z-index: 1000;
    left: 63vh;
    top: 44vh;
    background-color:  rgba(0, 0, 0, .5);
    padding: 3vh 2.3vh;
    border-radius: 10px;
    color: white;
    text-align: center;
    text-transform: uppercase;
}
