* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
}
.scores {
    position: absolute;
    border: 2px solid red;
    padding: 1vh;
    border-radius: 10px;

}

.scores li {
    list-style: none;
    text-align: left;
}

h1 {
    position: absolute;
    margin-left: 75vh;
}

.timer {
    margin-left: 150vh;
    border: 2px solid red;
    padding: 1vh;
    border-radius: 10px;
}