* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

.start-screen {
    visibility: visible;
    position: absolute;
    z-index: 1000;
    left: 15%;
    top: 20%;
}

.start-screen p {
    background-color:  rgba(0, 0, 0, .5);
    padding: 15vh 30vh;
    border-radius: 10px;
    color: white;
}

.scores {
    position: fixed;
    top: 2vh;
    left: 2vh;
    border: 2px solid red;
    padding: 2vh;
    border-radius: 10px;
}

.scores li {
    list-style: none;
    text-align: left;
}

h1 {
    position: absolute;
    top: 5vh;
    left: 35vh;
}

.timer {
    border: 2px solid red;
    padding: 1vh;
    border-radius: 10px;
    position: fixed;
    top: 2vh;
    left: 80vh;
}

.end-screen {
    visibility: hidden;
    position: absolute;
    z-index: 1000;
    left: 15%;
    top: 20%;
    background-color:  rgba(0, 0, 0, .5);
    padding: 10vh 10vh;
    border-radius: 10px;
    color: white;
    text-align: center;
    font-size: 3.5vh;
}

.end-screen p {
    padding-bottom: 2vh;
}
